src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:avio-logger="http://www.mulesoft.org/schema/mule/avio-logger" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/avio-logger http://www.mulesoft.org/schema/mule/avio-logger/current/mule-avio-logger.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7aa593c0-1f00-4373-b7b4-d31456969e6b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4f176728-be74-474f-99c3-5ace2b176e7e" >
		<http:request-connection protocol="HTTPS" host="localhost" port="8082" >
			<tls:context >
				<tls:trust-store type="jks" path="truststore1.jks" password="mule123"/>
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="hello-world-flow" doc:id="5dda9600-c30d-4651-8901-e6e0eb567806" >
		<http:listener doc:name="Listener" doc:id="959f4666-1326-48fb-a4d5-07cc2f19e921" config-ref="HTTP_Listener_config" path="/http"/>
		<logger level="INFO" doc:name="Logger" doc:id="06c8c4dd-ff95-4068-bfc2-bf30797b767e" message="#['In APP 1']"/>
		<http:request method="GET" doc:name="Request" doc:id="0090b8eb-acd0-4b1b-9847-70948db6269d" config-ref="HTTP_Request_configuration" path="/https"/>
	</flow>

	<flow name="hello-world-flow-1" doc:id="760be14d-a806-4fdc-bc11-eaf7daff2ce1" >
		<http:listener doc:name="Listener" doc:id="723d031b-8bd8-474c-8f86-3ea102fcddda" config-ref="HTTP_Listener_config" path="/invokejava"/>
		<java:new constructor="RSASha256Signature()" doc:name="New" doc:id="10cce096-cd31-464c-9722-97058d287308" class="com.mule.encryption.RSASha256Signature" target="sign"/>
		<java:invoke-static doc:name="Invoke static" doc:id="047af631-8d86-4ca9-9b78-efb96bcf530b" class="com.mule.encryption.RSASha256Signature" method="execute(java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[{
	message: payload.message,
	filePath: '${mule.home}' ++ "/apps/" ++ '${app.name}'
}]]]></java:args>
		</java:invoke-static>
			</flow>
</mule>
