src/main/mule/mule-hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mule-hello-world-flow" doc:id="9a353b2d-af94-46a3-bdc6-63c868477e92" >
		<http:listener doc:name="Listener" doc:id="b815795d-1f44-426d-8919-f0e842c3c743" path="/hello" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="03c7e2dc-5c0b-41b6-a9fc-4948341a4ca9" message="#['Testing The hello world application']"/>
		<ee:transform doc:name="append message" doc:id="187cdaa1-e433-4cf6-85a0-4755eadaf8ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Hello World from Mule!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
